<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Variable.html</h1>

<!-- <ul>
    {%for item in some_list%}
  <li><h1>{{item}}</h1></li>
    {% endfor %}
</ul>
<ul>
    {%for k,v in some_dict.items%}
  <li><h1>{{k}}</h1></li>
    {% endfor %}
</ul> -->
<!-- {% if user_logged_in %}
  <h1>Welcome {{first_name}}!</h1>
{%endif%}

{% if user_logged_in %}
  <h1>Welcome back, you are logged in</h1>
{%endif%}

<ul>
  {% for num in some_list  %}
      {%if num == 2%}
        <li>Two</li>
      {%else%}
        <li>{{num}}</li>
      {%endif%}
  {% endfor%}
</ul> -->


  </body>

</html>
